<div class="row">
  <div class="col-xs-12">
    <img alt="" class="img-responsive" src="">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ selectedRecipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group"
    appDropdown>
      <button class="btn btn-primary dropdown-toggle" type="button">Manage Recipe <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li>
          <a (click)="onToShopppingList()" style="cursor:pointer;">To shopping list</a>
          <a href="#">Edit Recipe</a>
          <a href="#">Delete Recipe</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{selectedRecipe.description}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item"
      *ngFor="let ingredient of selectedRecipe.ingredients">
        {{ingredient.name}} - {{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div>
